In [14]:
import pymysql
import pandas as pd
from sqlalchemy import create_engine

host='localhost'
port='3306'
username='root'
password=''
database='classicmodels'

#create connection to database
engine = create_engine('mysql+pymysql://'+username+':'+password+'@'+host+':'+port+'/'+database)
engine=create_engine('mysql+pymysql://root:@localhost:3306/classicmodels')

def run(sql):
    df=pd.read_sql_query(sql,engine)
    return df

In [19]:
#run('show tables')

In [31]:
#konversi csv ke db

df_fromcsv=pd.read_csv('a_mahasiswa.csv')
df_fromcsv.to_sql(name='mahasiswa',con=engine, if_exists='replace', index=False)

In [32]:
df_results=run("select * from mahasiswa")
print(df_results)

   ID  Nama
0  11  Budi
1  12  Luna
2  13  Lala
3  14   Poo

In [33]:
#insert with autocommit
engine.execute("insert into mahasiswa values(66,'Fajar')")

In [34]:
id_mhs='77'
nama_mhs='Galang'
engine.execute("insert into mahasiswa values ("+id_mhs+", '"+nama_mhs+"')")

In [35]:
#ganti nama dengan update
engine.execute("update mahasiswa set nama='andi' where id=11")

In [36]:
engine.execute("delete from mahasiswa where id=11")

In [43]:
df_results.to_csv ('dftocsv_mahasiswa.csv', index=False)